<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="myDiv" style="width: 100%; height: 100%;"></div> <!-- Container for the heatmap -->
    <!-- Correctly reference the JavaScript file using Flask's url_for -->
    <script src="{{ url_for('static', filename='plots.js') }}"></script>
</body>
</html>